/* Write your CSS here */
.card-container {
  list-style-type: none;
  width: 235px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 32px;
}
.image {
  width: 235px;
  height: 175px;
}
.description {
  font-family: Roboto;
  color: #000000;
  font-size: 16px;
}
